<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.corelearning.mapper.UserMapper">
    <resultMap id="userWithOrdersMap" type="com.example.corelearning.dto.UserDto">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="age" column="age"/>

        <collection property="orders"
                    column="id"
                    select="com.example.corelearning.mapper.OrderMapper.selectByUserId">
        </collection>
    </resultMap>

    <select id="selectUserWithOrders" resultMap="userWithOrdersMap">
        select id, username, age from user where id = #{id}
    </select>
    <select id="selectByCondition" resultType="com.example.corelearning.dto.UserDto">
        select * from user
        <where>
            <if test="username != null and username != ''">
                and username like concat('%', #{username}, '%')
            </if>
            <if test="age !=null">
                and age = #{age}
            </if>
        </where>
    </select>
    <select id="getUserInfo" resultType="com.example.corelearning.dto.UserDto">
        select username,age,id,password from user where user.username = #{username}
    </select>
    <update id="decreaseBalance">
        update user set balance = balance - #{amount} where id = #{id}
    </update>
    <update id="increaseBalance">
        update user set balance = balance + #{amount} where id = #{id}
    </update>
    <insert id="insertUser">
        insert into user(username, password) values(#{username}, #{password})
    </insert>
</mapper>
